* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  background-color: $main-background;
  color: $white75;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media screen and (max-width: 375px) {
    height: auto;
  }
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}